In [1]:
# imports
import praw
import csv
import os
import pandas as pd
from datetime import datetime

In [2]:
csv_file = '../data/reddit.csv'

In [3]:
# authenticate
reddit = praw.Reddit(
    client_id="eJw2YBhImL4Ke1S1wDl4Ww",
    client_secret="AqFdN5deIGfCp72_-I6xRjnifAyoQg", 
    user_agent="anna jobsis project 3")

Version 7.5.0 of praw is outdated. Version 7.6.0 was released Tuesday May 10, 2022.

In [4]:
# instantiate
reddits = reddit.subreddit('all').hot(limit=None)

In [5]:
# create csv
headers = ['id', 'author', 'title', 'created', 'num_comments', 'subreddit']
with open(csv_file, 'a') as f:
    writer = csv.DictWriter(f, fieldnames=headers)
    if os.stat(csv_file).st_size == 0:
        writer.writeheader()
    for r in reddits:
                'author': r.author, 
                'title': r.title, 
                'created': r.created_utc, 
                'num_comments': r.num_comments,
               'subreddit': r.subreddit
        writer.writerow(data)  
print("done!")

done!

In [6]:
reddit = pd.read_csv('../data/reddit.csv')

In [7]:
reddit.head()

,author,title,created,num_comments,subreddit
0,Chum_Bucket_Employee,Found at a local brewery! Finally have somethi...,1.653597e+09,521,funny
1,MrChris680,I got new teeth today after having bad teeth m...,1.653593e+09,2344,MadeMeSmile
2,superpouper,These folks were quacking for food but specifi...,1.653596e+09,281,ChoosingBeggars
3,180secondideas,My avocado today was 11/10.,1.653591e+09,561,oddlysatisfying
4,twolf1,Husband of teacher killed in Texas school shoo...,1.653589e+09,2360,news

In [8]:
reddit.shape

(14695, 5)

In [10]:
# drop duplicates
reddit.drop_duplicates(subset='title', keep="last", inplace=True)

In [20]:
reddit.duplicated('title').sort_values(ascending=True)

24       False
9904     False
9905     False
9906     False
9907     False
         ...
4998     False
4999     False
5000     False
5003     False
14694    False
Length: 13819, dtype: bool

In [21]:
# write out to new csv
reddit.to_csv(csv_file, index=False, chunksize=1000)
print('done!')

done!

In [22]:
reddit.head()

,author,title,created,num_comments,subreddit
24,MrChris680,I got new teeth today after having bad teeth m...,1.653593e+09,2385,MadeMeSmile
25,superpouper,These folks were quacking for food but specifi...,1.653596e+09,300,ChoosingBeggars
26,180secondideas,My avocado today was 11/10.,1.653591e+09,582,oddlysatisfying
27,twolf1,Husband of teacher killed in Texas school shoo...,1.653589e+09,2445,news
28,avhir0ck,Retribution of Issac ‘MF’ Wright,1.653597e+09,167,Damnthatsinteresting

In [23]:
# calculate length of time post has been up for
reddit['length_time'] = reddit['created'].apply(lambda x: datetime.utcnow()\
                      - datetime.utcfromtimestamp(x))

In [24]:
reddit.head()

,author,title,created,num_comments,subreddit,length_time
24,MrChris680,I got new teeth today after having bad teeth m...,1.653593e+09,2385,MadeMeSmile,1 days 01:23:21.404966
25,superpouper,These folks were quacking for food but specifi...,1.653596e+09,300,ChoosingBeggars,1 days 00:36:07.404979
26,180secondideas,My avocado today was 11/10.,1.653591e+09,582,oddlysatisfying,1 days 01:58:54.404981
27,twolf1,Husband of teacher killed in Texas school shoo...,1.653589e+09,2445,news,1 days 02:38:40.404983
28,avhir0ck,Retribution of Issac ‘MF’ Wright,1.653597e+09,167,Damnthatsinteresting,1 days 00:20:41.404985

In [25]:
# write out to new csv
reddit.to_csv('../data/reddit_cleaned.csv', index=False, chunksize=1000)
print('done!')

done!

In [29]:
reddit.title.duplicated()

24       False
25       False
26       False
27       False
28       False
         ...
14690    False
14691    False
14692    False
14693    False
14694    False
Name: title, Length: 13819, dtype: bool