In [1]:
# imports
import praw
import csv
import os
import pandas as pd
from datetime import datetime

In [2]:
csv_file = '../data/reddit.csv'

In [3]:
# authenticate
reddit = praw.Reddit(
    client_id="eJw2YBhImL4Ke1S1wDl4Ww",
    client_secret="AqFdN5deIGfCp72_-I6xRjnifAyoQg", 
    user_agent="anna jobsis project 3")

Version 7.5.0 of praw is outdated. Version 7.6.0 was released Tuesday May 10, 2022.

In [4]:
# instantiate
reddits = reddit.subreddit('all').hot(limit=None)

In [5]:
# create csv
headers = ['id', 'author', 'title', 'created', 'num_comments', 'subreddit']
with open(csv_file, 'a') as f:
    writer = csv.DictWriter(f, fieldnames=headers)
    if os.stat(csv_file).st_size == 0:
        writer.writeheader()
    for r in reddits:
                'author': r.author, 
                'title': r.title, 
                'created': r.created_utc, 
                'num_comments': r.num_comments,
               'subreddit': r.subreddit
        writer.writerow(data)  
print("done!")

done!

In [5]:
reddit = pd.read_csv('../data/reddit.csv')

In [6]:
# check head
reddit.head()

,author,title,created,num_comments,subreddit
0,MrChris680,I got new teeth today after having bad teeth m...,1.653593e+09,2385,MadeMeSmile
1,superpouper,These folks were quacking for food but specifi...,1.653596e+09,300,ChoosingBeggars
2,180secondideas,My avocado today was 11/10.,1.653591e+09,582,oddlysatisfying
3,twolf1,Husband of teacher killed in Texas school shoo...,1.653589e+09,2445,news
4,avhir0ck,Retribution of Issac ‘MF’ Wright,1.653597e+09,167,Damnthatsinteresting

In [26]:
# check duplicated titles
reddit.groupby('title').count().sort_values('author', ascending=False)

,author,created,num_comments,subreddit
title,,,,
Indian Premier League Predictions Tournament,1,1,1,1
"Take this, and grow fat from strength",1,1,1,1
"Taken last January 12, 2016 few months before Pnoy's steps down as president.",1,1,1,1
Takes me back to my childhood days,1,1,1,1
"Taking Cues From Texas, California Proposes Its Own Bounty Law—Against Guns: If it passes, the Golden State would set up a confrontation with the Supreme Court, which blessed the Lone Star State’s anti-abortion law.",1,1,1,1
...,...,...,...,...
2022 Wanda would’ve absolutely destroyed Thanos,0,1,1,1
Recreational Sleeps,0,1,1,1
Being A Lesbian At The Doctors,0,1,1,1
Finished Hand Painting the Bloodborne Board Game Miniatures!,0,1,1,1
"Can’t leave my house, damn near fell to my demise.",0,1,1,1

In [10]:
# drop duplicates
reddit.drop_duplicates(subset='title', keep="last", inplace=True)

In [42]:
# drop 5 records of author == NaN
reddit = reddit[reddit['author'].notna()]

In [55]:
# inspect titles with "removed"
reddit[reddit['title'].str.contains('removed')]['title']

2535        Finally got my ingrown toenail removed by Dr.!
7237     A male patient has an impressively-massive for...
9032                            Pov: You removed a feature
9134     When is the second item getting removed so I c...
9256     Was it easy? No. Was it worth it? Absolutely. ...
10610    Portions of the destroyed AN225 are being remo...
13013    Sainz being removed from his car in a state of...
Name: title, dtype: object

In [56]:
# write out to csv
reddit.to_csv(csv_file, index=False, chunksize=1000)

In [28]:
# calculate length of time post has been up for
reddit['length_time'] = reddit['created'].apply(lambda x: datetime.utcnow()\
                      - datetime.utcfromtimestamp(x))

In [25]:
# write out to new csv
reddit.to_csv('../data/reddit_cleaned.csv', index=False, chunksize=1000)
print('done!')

done!